.App {
  text-align:left;
  padding : 20px;
}

.logo {
  height:40px;
  pointer-events: none;
  display: flex;
  width :40px;
  padding :10px
}

.header{
  color:black;
  font-weight:bold;
  display: flex; 
 font-size :20px;
 align-items: center;
box-shadow: 2px 4px 100px 0px rgba(0, 0, 0, 0.2);
}

.photo-header {
  display: flex;
  flex-direction: column;  /* STACK vertically */
  align-items: center;     /* center them horizontally (optional) */
  gap: 20px;               /* spacing between images */
  margin-top: 140px;
  float:right;
}

.hannie,
.cheoli {
  width: 82px;
  height: 128px;
  border-radius: 300px;
}
.header2 {
   display: flex;
  flex-direction: column;  /* STACK vertically */
  align-items: center;     /* center them horizontally (optional) */
  gap: 20px;               /* spacing between images */
  float:right;
  margin-top: 80px;
  margin-right :-2%;

} 
.wonwoo,
.mingyu {
  height : 128px;
  width : 82px;
  border-radius :300px;
  margin-right : 40px;
}
.header3{
  display: flex;
  flex-direction: column;  /* STACK vertically */
  align-items: center;     /* center them horizontally (optional) */
  gap: 20px;               /* spacing between images */
  margin-top: 140px;
  float:right;
  padding :5px;
} 
.woozi,
.josh{
  width: 82px;
  height: 128px;
  border-radius: 300px;
}

.header4{
   display: flex;
  flex-direction: column;  /* STACK vertically */
  align-items: center;     /* center them horizontally (optional) */
  gap: 20px;               /* spacing between images */
  float:right;
  margin-top: 80px;
  margin-right :-2%;
}
.boo,
.bonon{
  height : 128px;
  width : 82px;
  border-radius :300px;
  margin-right : 40px;
}
.header5{
  display: flex;
  flex-direction: column;  /* STACK vertically */
  align-items: center;     /* center them horizontally (optional) */
  gap: 20px;               /* spacing between images */
  float:right;
  margin-top: 150px;
  margin-right :-2%;
}
.jun{
  height : 128px;
  width : 82px;
  border-radius :300px;
  margin-right : 40px;
}

.sebong {
  margin-top :450px;
}
.h1{
  align-items:left;
}